*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: black;
    height: calc(100% - 100px);
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* aside */
.aside{
    background-color: black;
    width: 15%;
    height: 100%;
}

.logo{
    width: 180px;
    padding: 20px 10px;
}

.mb-30{
    margin-bottom: 30px;
}


.mb-20{
    margin-bottom: 20px;
}

.home, .search, .libreria{
    width: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.aside a{
    text-decoration: none;
    color: #a3a3a3;
}

.text-trasform span{
    text-transform: uppercase;
    margin-left: 10px;
    color: #a3a3a3;
    font-size: 20px;
}

.crea-playlist{
    color: #a3a3a3;
    margin-left: 10px;
}

.fs-20px{
    font-size: 30px;
}

.mr-10px{
    margin-right: 10px;
}

.elenco-playlist{
    margin-left: 10px;
    color: #a3a3a3;
}

.content{
    background-color: #141922;
    width: calc(100% - 15%);
    height: 100%;
}

.fleft{
    float: left;
}

.content-top{
    background-color: #080b12;
    /* height: 80px; */
    display: flex;
    justify-content: flex-end;
}

.content-top a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 20px;
}

.container-content{
    overflow-y: auto;
}

.content-link{
    display: flex;
    justify-content: center;   
}

.content-link ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 10px;   
}

.content-link ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #a3a3a3;
}

.recently-played h2, 
.creati-per-wii h2, 
.artisti-popolari h2{
    color: white;
    margin-left: 20px;
}

.recently-played-album, 
.playlist-wii,
.artisti-popolari-album{
    display: flex;
}

.album{
    width: calc(100% / 6);
    /* height: 100px; */
    margin: 10px;
}

.album img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}

.info-album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.info-album-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.title{
    color: white;
    font-size: 20px;
}

.subtitle{
    color: #a3a3a3;
    font-size: 16px;
}

/* creati per wii */

.creati-per-wii p,
.artisti-popolari p{
    color: #a3a3a3;
    font-size: 16px;
    margin-left: 20px;
}

/* artisti popolari*/
.radius-50{
    border-radius: 50%;
}

footer{
    background-color: #282828;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
