*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: black;
    /* height: calc(100% - 100px); */
    height: calc(100% - 100px - 80px);
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* aside */
.aside{
    background-color: black;
    width: 15%;
    height: 100%;
    /* height: calc(100% - 100px); */
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    width: 180px;
    padding: 20px 10px;
}

.mb-30{
    margin-bottom: 30px;
}


.mb-20{
    margin-bottom: 20px;
}

.home, .search, .libreria{
    width: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.item a:hover{
    color: white;
}

.aside a{
    text-decoration: none;
    color: #a3a3a3;
}

.aside span:hover{
    color: white;
}

.text-trasform span{
    text-transform: uppercase;
    margin-left: 10px;
    color: #a3a3a3;
    font-size: 20px;
}

.crea-playlist{
    color: #a3a3a3;
    margin-left: 10px;
}

.fs-20px{
    font-size: 30px;
}

.mr-10px{
    margin-right: 10px;
}

.elenco-playlist{
    margin-left: 10px;
    color: #a3a3a3;
    margin-bottom: 150px;
}

/* inizio app */
.app{
    padding: 15px;
    color: #a3a3a3;
}

.download-app{
    border-bottom: 1px solid #a3a3a3;
    padding: 10px 0; 
}

.icon-app{
    font-size: 12px;
    margin-right: 10px;
}

.app-wii{
    padding: 10px 0; 
}

.icon-user{
    color: white;
    font-size: 25px;
    margin-right: 10px;
}

.app-wii .user-name{
    color: white;
    font-size: 22px;
}

/* inizio content */
.content{
    background-color: #141922;
    width: calc(100% - 15%);
    height: 100%;
}

.fleft{
    float: left;
}

.content-top{
    background-color: rgba(12, 12, 27, 0.5);
    height: 80px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    left: 15%;
} 

.content-top a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 20px;
}

.container-content{
    overflow-y: auto;
}


.content-link{
    display: flex;
    justify-content: center;  
    margin-top: 90px; 
}

.content-link ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 10px;   
}

.content-link ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #a3a3a3;
}

.content-link ul li a:hover{
    border-bottom: 2px solid #a3a3a3;
}

.recently-played h2, 
.creati-per-wii h2, 
.artisti-popolari h2{
    color: white;
    margin-left: 20px;
}

.recently-played-album, 
.playlist-wii,
.artisti-popolari-album{
    display: flex;
}

.album{
    width: calc(100% / 6);
    /* height: 100px; */
    margin: 10px;
}

.album img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}

.info-album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.info-album-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.title{
    color: white;
    font-size: 20px;
}

.subtitle{
    color: #a3a3a3;
    font-size: 16px;
}

/* creati per wii */

.creati-per-wii p,
.artisti-popolari p{
    color: #a3a3a3;
    font-size: 16px;
    margin-left: 20px;
}

/* artisti popolari*/
.radius-50{
    border-radius: 50%;
}

.mb-100{
    margin-bottom: 100px;
}

/* footer*/
footer{
    background-color: #282828;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.song{
    display: flex;
    justify-content: flex-start;  
}

.song, 
.control{
    /* background-color: red; */
    height: 80%;
}

.song img{
    height: 100%;
    margin: 0 10px 0 20px;
}

.singer-song,
.song-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    color: #a3a3a3;
}

.fs-14{
    font-size: 14px;
}

.song-icon{
    margin: 0 15px;
    font-size: 22px;
}

.buttons{
    /* width: 40%; */
    /* background-color: blue; */
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-icon{
    height: 60%;
    display: flex;
    justify-content: center;
}

.button-items{
    color: #a3a3a3;
    font-size: 24px;
    margin-right: 20px;

}

.time{
    height: 30%;
    margin-top: 10px;
    width: 40%;
    display: flex;
}

.time-content{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.time span{
    color: #a3a3a3;
    font-size: 12px;
    margin: 0 20px;
}

.time-line{
    width: 500px;
    border-bottom: 3px solid #a3a3a3;
}

.control{
    display: flex;
    justify-content: flex-end; 
}

.control-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #a3a3a3;
    margin: 0 15px;
}

.control-time-line{
    height: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid #a3a3a3;
    margin: 32px 15px;
}