*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: black;
    height: calc(100vh - 100px);
}

.clearfix::after{
    content: ''; 
    display: table;
    clear: both;
}

/* aside */
.aside{
    background-color: black;
    width: 15%;
    height: calc(100% - 100px);
}

.logo{
    width: 180px;
    padding: 20px 10px;
}

.mb-30{
    margin-bottom: 30px;
}


.mb-20{
    margin-bottom: 20px;
}

.home, .search, .libreria{
    width: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.item{
    display: flex;
    /* justify-content: center; */
}   

.item a{
    padding-top: 10px;
}

.item a:hover{
    color: white;
}

.aside a{
    text-decoration: none;
    color: #a3a3a3;
}

.aside span:hover{
    color: white;
}

.text-trasform span{
    text-transform: uppercase;
    margin-left: 10px;
    color: #a3a3a3;
    font-size: 20px;
}

.crea-playlist{
    color: #a3a3a3;
    margin-left: 10px;
}

.fs-20px{
    font-size: 30px;
}

.mr-10px{
    margin-right: 10px;
}

.elenco-playlist{
    margin-left: 10px;
    color: #a3a3a3;
    margin-bottom: 150px;
}

/* inizio app */
.app{
    padding: 15px;
    color: #a3a3a3;
}

.download-app{
    border-bottom: 1px solid #a3a3a3;
    padding: 10px 0; 
}

.icon-app{
    font-size: 12px;
    margin-right: 10px;
}

.app-wii{
    padding: 10px 0; 
}

.icon-user{
    color: white;
    font-size: 25px;
    margin-right: 10px;
}

.app-wii .user-name{
    color: white;
    font-size: 22px;
}

/* inizio content */
.content{
    background-color: #141922;
    width: calc(100% - 15%);
    height: 100%;
}

.fleft{
    float: left;
}

/* inizio content top */
.content-top{
    background-color: rgba(12, 12, 27, 0.5);
    height: 80px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    left: 15%;
} 

.content-top a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 20px;
}

.content-top a:hover{
    font-size: 16px;
}

/* inizio container content */
.container-content{
    overflow-y: auto;
    height: 100%;
}

/* content-link */
.content-link{
    display: flex;
    justify-content: center;  
    margin-top: 90px; 
}

.content-link ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 10px;   
}

.content-link ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #a3a3a3;
}

.content-link ul li a:hover{
    border-bottom: 2px solid #a3a3a3;
}

/* recently played, creati per wii, artisti popolari common */

.recently-played h2, 
.creati-per-wii h2, 
.artisti-popolari h2{
    color: white;
    margin-left: 20px;
}

.recently-played-album, 
.playlist-wii,
.artisti-popolari-album{
    display: flex;
}

/* inizio album */
.album{
    width: calc(100% / 6);
    margin: 10px;
}

.album img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}

.info-album{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.info-album-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.title{
    color: white;
    font-size: 20px;
}

.subtitle{
    color: #a3a3a3;
    font-size: 16px;
}

/* creati per wii + artisti popolari common*/
.creati-per-wii p,
.artisti-popolari p{
    color: #a3a3a3;
    font-size: 16px;
    margin-left: 20px;
}

/* artisti popolari*/
.radius-50{
    border-radius: 50%;
}

.mb-100{
    margin-bottom: 100px;
}

/* footer*/
footer{
    background-color: #282828;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

/* inizio song */
.song{
    display: flex;
    justify-content: flex-start;  
}

.song, 
.control{
    height: 80%;
}

.song img{
    height: 100%;
    margin: 0 10px 0 20px;
}

.singer-song span:hover{
    text-decoration: underline;
}

.singer-song,
.song-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    color: #a3a3a3;
}

.fs-14{
    font-size: 14px;
}

.song-icon{
    margin: 0 15px;
    font-size: 22px;
}

/* hover white footer */
.song-icon:hover,
.button-items:hover, 
.control-icon:hover{
    color:white;
}

/* inizio button */
.buttons{
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-icon{
    height: 60%;
    display: flex;
    justify-content: center;
}

.button-items{
    color: #a3a3a3;
    font-size: 24px;
    margin-right: 20px;
}

/* inizio time */
.time{
    height: 30%;
    margin-top: 10px;
    /* width: 40%; */
    display: flex;
}

.time-content{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.time span{
    color: #a3a3a3;
    font-size: 12px;
    margin: 0 20px;
}

.time-line{
    display: flex;
    width: 500px;
    border-bottom: 3px solid #a3a3a3;
    justify-content: center;
}

/* inizio control */
.control{
    display: flex;
    justify-content: flex-end; 
}

.control-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #a3a3a3;
    margin: 0 15px;
}

.control-time-line{
    height: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid #a3a3a3;
    margin: 32px 15px;
}

/* inizio media query md pt 2 */
@media screen and (max-width:960px) and (min-width:720px) {

    .container{
        max-width: 960px;
        /* width: 100%; */
    }

    /* aside */
    .aside{
        background-color: black;
        width: 25%;
        height: calc(100% - 100px);
    }

    .logo{
        width: 80%;
        padding: 20px 10px;
    }

    /* playlist */
    .elenco-playlist{
        margin-bottom: 10px;
    }

    .all-playlist{
        height: 180px;
        overflow-y: auto;
        margin-bottom: 30px;
    }

    .app{
        padding: 10px;
    }

    .icon-user{
        font-size: 12px;
    }
    .user-name{
        font-size: 11px;
    }

    /* content */
    .content{
        width: calc(100% - 25%);
        height: 100%;
    }

    .content-top{
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        right: 0;
        left: 25%;
    }  
    
    .content-link{
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    .recently-played h2, 
    .creati-per-wii h2, 
    .artisti-popolari h2,
    .creati-per-wii p,
    .artisti-popolari p{
        margin-left: 10px;
    }

    .recently-played-album, 
    .playlist-wii,
    .artisti-popolari-album{
        display: flex;
        flex-wrap: wrap;
    }
    /* chiedere perché???? */
    .album{
        width: calc(100% / 5);
    }

    /* footer */
    /* song */
    .song-icon{
        margin: 0 10px;
        font-size: 22px;
    }

    /* time */
    .time span{
        color: #a3a3a3;
        font-size: 12px;
        margin: 0 10px;
    }

    .time-line{
        width: 200px;
    }

    .control-icon{
        margin: 0 10px;
    }

    .control-time-line{
        width: 50px;
    }

}

/* inizio SM */
@media screen and (max-width: 719px) and (min-width: 540px) {

    .container{
        max-width: 719px;
    }
    
    /* aside */
    .logo{
        width: 80%;
        /* padding: 20px 10px; */
    }

    .aside a,
    .aside span,
    .crea-playlist i,
    .app-wii i,
    .app-wii .user-name{
        font-size: 12px;
    }

    .all-playlist{
        height: 150px;
        overflow-y: auto;
        margin-bottom: 80px;
    }
    

}   